<div id="header">
  <div class="container">
    <div class="nav-logo">
      <a routerLink="search" routerLinkActive="active">
        <img width="200" src="/assets/img/logo.gif" alt="Giphy Searcher" />
      </a>
    </div>
    <nav class="nav-links">
      <a routerLink="search" routerLinkActive="active">
        <img class="hidden-md" src="/assets/img/loupe.png" width="30" />
        <span class="hidden visible-md">Search</span>
      </a>
      <a routerLink="saved" routerLinkActive="active" class="link-favorite">
        <img class="hidden-md" src="/assets/img/heart.svg" width="30" />
        <span class="hidden visible-md">My Favorited</span>
        <ng-container *ngIf="totalFavorited$ | async as totalFavorited">
          <span class="badge">{{ totalFavorited }}</span>
        </ng-container>
      </a>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
