#header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-logo {
      img {
        width: 200px;
        @media screen and (max-width: 768px) {
          width: 150px;
        }
      }
    }

    .nav-links {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
      justify-content: flex-end;

      a {
        padding: 20px;
        text-decoration: none;
        color: #3d3d3d;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
          background-color: #e6f7ff;
        }

        &.active {
          color: #fff;
          background-color: #1890ff;
        }
      }
    }
  }
}
